h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pxl;
    color: black;
    }
.Speech{
font-family: 'Times New Roman', Times, serif;
font-size: 12pxl;
color: black;
}
.song{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: blue;
    text-indent: 70px;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: aquamarine;

}

.direction:hover,.direction:active{
    background-color: aqua;
    color: blue;
}
.BAR{
    font-style: normal;
    color: white;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    background-color: green;

}
.BAR:hover{
    color:aquamarine;
    text-shadow: 5px 10px 15px green;
    background-color: blueviolet;
    border-style: solid;
}
.ALL{
    font-style: normal;
    color: brown;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
.ALL:hover{
    color:azure;
    text-shadow: 5px 10px 15px green;
    background-color: red;
    border-style: solid;
}
.LUD{
    font-style: normal;
    color: azure;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
}
.LUD:hover{
    color:brown;
    text-shadow: 5px 10px 15px green;
    background-color: yellow;
    border-style: solid;
}
.CHORUS{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: blueviolet;
    font-size: medium;
    text-indent: 100px;
}
.d{
    color: green;
    
}
table,  th, td {
    border: 1px solid;
    
}
th, td {
  padding: 10px;
  text-align: center;
}
tr {
    row-gap: 0.3px;
}
th{
    background-color: brown;
    color: azure;
}
tr:nth-child(odd){
    background-color: brown;
    color: bisque;
}
