h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pxl;
    color: black;
    }
.Speech{
font-family: 'Times New Roman', Times, serif;
font-size: 12pxl;
color: black;
}
.song{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pxl;
    color: black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pxl;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pxl;
    color: aquamarine;
}

.direction:hover,.direction:active{
    background-color: aqua;
    color: blue;
}
h6.BAR{
    font-style: normal;
    color: blueviolet;
}
h6.ALL{
    font-style: normal;
    color: brown;
}
h6.LUD{
    font-style: normal;
    color: brown;
}
h6.CHORUS{
    font-style: normal;
    color: blueviolet;
}